@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");  */
@tailwind base;
@tailwind components;
@tailwind utilities;

nav a:hover,
.active-nav {
  position: relative;
  color: #5359eb;
}

nav a:hover::after,
.active-nav::after {
  /* background-color: red; */
  content: "";
  width: 100%;
  height: 2px;
  background-color: #5359eb;
  position: absolute;
  bottom: -3px;
  left: 0;
  z-index: 100;
}

nav a {
  font-size: 11px;
}

.font-opensans {
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 1024px) {
  .icon {
    width: 12px;
  }
}

sup {
  position: relative;
  bottom: 1ex;
  font-size: 80%;
}
